{% extends 'dashboard/dashboard_base.html' %} {% load static %} {% block content %}

<form action="{% url 'documentTypeUpdate' doctype.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">DocumentType code</label>
      <input type="text" class="form-control" name="documentTypeCode" required value="{{doctype.documentTypeCode}}">
    </div>
    <div class="mb-3">
        <label class="form-label">DocumentType Name</label>
        <input type="text" class="form-control" name="documentTypeName" required value="{{doctype.documentTypeName}}">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" name="isActive"
            {% if doctype.isActive %}
                checked
            {% endif %}      
      >
      <label class="form-check-label" >Is Active</label>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-danger">Reset</button>
  </form>

{% endblock %}