{% extends 'dashboard/dashboard_base.html' %} {% load static %} {% block content %}

<form action="{% url 'roomTypeUpdate' roomType.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">RoomType code</label>
      <input type="text" class="form-control" name="roomTypeCode" required value="{{roomType.roomTypeCode}}">
    </div>
    <div class="mb-3">
        <label class="form-label">RoomType Name</label>
        <input type="text" class="form-control" name="roomTypeName" required value="{{roomType.roomTypeName}}">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" name="isActive"
            {% if roomType.isActive %}
                checked
            {% endif %}      
      >
      <label class="form-check-label" >Is Active</label>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-danger">Reset</button>
  </form>

{% endblock %}