{% extends 'dashboard/dashboard_base.html' %} {% load static %} {% block content %}

<form action="{% url 'roomUpdate' room.id %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Room code</label>
      <input type="text" class="form-control" name="roomCode" required value="{{room.roomCode}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Room Name</label>
        <input type="text" class="form-control" name="roomName" required value="{{room.roomName}}">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" name="isActive"
            {% if room.isActive %}
                checked
            {% endif %}      
      >
      <label class="form-check-label" >Is Active</label>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-danger">Reset</button>
  </form>

{% endblock %}