{% extends 'dashboard/dashboard_base.html' %} {% load static %} {% block content %}

<form action="" method="POST">
    <div class="mb-3">
      <label class="form-label">Mã phân hệ</label>
      <input type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label class="form-label">Tên phân hệ</label>
        <input type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label class="form-label">Số lượng khoa</label>
        <input type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label class="form-label">Số lượng phòng</label>
        <input type="text" class="form-control" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <button class="btn btn-danger">Làm mới</button>
  </form>

  {% endblock %}